{% extends "base.html.twig" %}

{% block title %} Home Page - Learn Symfony {% endblock %}

{% block body %}

    <div class="d-flex flex-column justify-content-center align-items-center" style="height:60vh">
        <h1> Welcome To Our Tasks Manager Symfony App !</h1>
        <h4> Thanks to this app, you can manage your tasks very easily! Go ahead and try it</h4>
        <a class="btn btn-info mt-3" href="/task/create">Start by adding your first task</a>
    </div>
    
{% endblock %}
