{% extends "base.html.twig" %}

{% block title %} Update Task - Learn Symfony {% endblock %}

{% block body %} 
    <h1>Update Task : </h1>
    <hr class="mb-5">
    {{ form_start(form) }}
        {{ form_widget(form) }}

        <input class="btn btn-primary" type="submit" value="Update Task"/>
    {{ form_end(form) }}
{% endblock %}